{% extends "core/style.html" %}
{% load django_bootstrap5 %}

{% load static %}
{% load my_filters %}

{% block body %}

<div class="container">
  <div class="container py-5">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="col col-12 col-lg-3"><img class="profile-picture-big" src="{% static inv_item.picture %}" alt="Avatar"></div>
      <div class="col col-9 col-lg-7 d-flex flex-column">
        <div class="px-3"><h1>{{ inv_item.brand }} {{ inv_item.model }}</h1></div>
        <div class="px-3"><h4>{{ inv_item.kind }}</h4>
            {% for i in inv_item.conditions|times %}
            <i class="fa-solid fa-star fa-sm text-danger"></i>
            {% endfor %}
        </div>
      </div>
      <div class="col col-3 col-lg-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loanModal">
          Assegna
        </button>
      </div>
    </div>
  </div>

  <div class="container user-profile">
    <div class="row g-4 py-2 row-cols-1 row-cols-lg-2">
      {% for key, value in inv_item.items %}
      <div class="feature col">
        <h3 class="fs-4 text-body-emphasis">{{ key }}</h3>
        <p>{{ value }}</p>
      </div>
      {% endfor %}
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">N prestito</th>
        <th scope="col">Assegnatario</th>
        <th scope="col">Data uscita</th>
        <th scope="col">Data rientro</th>
      </tr>
    </thead>
    <tbody>
      {% for x in loans %}
      <tr>
        <th scope="row">
          <a href="{% url 'warehouse:loan_detail' id=inv_item.id loanid=x.id %}">{{ x.id }}</a>
        </th>
        <th>
          <a class="btn" href="{% url 'hr:userpage' id=x.fkuser.id %}"><img class="profile-picture" src="{% if x.fkuser.profile.profile_picture %}{% static x.fkuser.profile.profile_picture %}{% else %}{% static 'assets/images/nouser.png' %}{% endif %}" alt="Avatar"> {{ x.fkuser.last_name }} {{ x.fkuser.first_name }}</a>
        </th>
        <th>{{ x.loan_date }}</th>
        <th>{{ x.return_date }}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<!-- Modal -->
<div class="modal fade" id="loanModal" tabindex="-1" aria-labelledby="loanModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form method="post" class="form" action="{% url 'warehouse:item_assign' id=inv_item.id %}">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loanModalLabel">Assegna oggetto a x</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
      </div>
      <div class="modal-body">
          {% csrf_token %}
          {% bootstrap_form user_form %}

        </div>
        <div class="modal-footer">
          {% bootstrap_button button_type="reset" content="Annulla" button_class="btn-danger" %}
          {% bootstrap_button button_type="submit" content="OK" %}
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock body %}
