{% extends "core/style.html" %}

{% load static %}
{% load my_filters %}

{% block body %}
<div class="container">
  <h1 class="my-5">Gestione Magazzino</h1>
  <div class="row my-2">
    <a href="{% url 'warehouse:item_create' %}" class="col-12 col-md-2 btn btn-primary">Aggiungi oggetto</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Tipo</th>
        <th scope="col">Marca</th>
        <th scope="col">Modello</th>
        <th scope="col">Stato</th>
      </tr>
    </thead>
    <tbody>
      {% for item in warehouse_items %}
      <tr>
        <th scope="row">
          <a href="{% url 'warehouse:item_detail' %}">{% if item.picture %}<img class="profile-picture" src="{% static item.picture %}" alt="Avatar">
          {% else %}
          <i class="fa-solid fa-camera fa-xl"></i>
          {% endif %}
          </a>
        </th>

        <td>{{ item.kind }}</td>
        <td>{{ item.brand }}</td>
        <td>{{ item.model }}</td>
        <td>
        {% for i in item.conditions|times %}
        <i class="fa-solid fa-star fa-sm text-danger"></i>
        {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock body %}
