{% extends 'core/style.html' %}

{% load static %}

{% block body %}
<div class="container">
  <h1 class="my-5">Servizi
    <a href="/servizio/new" class="btn btn-success floatright">Crea servizio</a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Data</th>
        <th scope="col">Luogo</th>
        <th scope="col">Presenti/Risposte</th>
      </tr>
    </thead>
    <tbody>
      {% for servizio in servizi %}
      <tr>
        <th scope="row">
          <a href="/servizio/{{servizio.id}}">{{servizio.id}}</a>
        </th>
        <td>{{servizio.begin_date}}</td>
        <td>{{servizio.location}}</td>
        <td>{{servizio.total_acks}} / {{servizio.total_response}}
      </tr>
      {% endfor %}
    </tbody>
  </table>


</div>
{% endblock body %}