{% extends 'core/style.html' %}

{% load static %}

{% block body %}
<div class="container">
  <h1 class="my-5">Lista volontari
    <a href="/hr/user/new" class="btn btn-success floatright">Crea utente</a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Cognome</th>
        <th scope="col">Nome</th>
        <th scope="col">Ruolo</th>
      </tr>
    </thead>
    <tbody>
      {% for volontario in users %}
      <tr>
        <th scope="row">
          <a href="/hr/user{{volontario.id}}"><img class="profile-picture" src="{% static volontario.profile.profile_picture %}" alt="Avatar"></a>
        </th>
        <td>{{volontario.last_name}}</td>
        <td>{{volontario.first_name}}</td>
        <td>{% for role in user.groups.all %}{{role}}{% if not forloop.last %}, {% else %}{% endif %}{% endfor %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


</div>
{% endblock body %}%}